* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}
body {
  background-color:beige;
}

.contact {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  padding: 70px 0;
  text-align: center;
}

.contact h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.contact-subtitle {
  color:black;
  margin-bottom: 50px;
}

/* Card layout */
.contact-cards {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

/* Card style */
.contact-card {
  background:rgb(245, 245, 242);
  width: 320px;
  padding: 30px;
  border-radius: 18px;
  box-shadow: 0 12px 30px rgba(0,0,0,0.1);
  text-align: left;
}

.contact-card h2 {
  margin-bottom: 15px;
  color: #ff6f91;
}

.contact-card p {
  margin-bottom: 10px;
  color: #555;
}

/* Form */
.contact-card form input,
.contact-card form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  outline: none;
}

.contact-card form input:focus,
.contact-card form textarea:focus {
  border-color: #ff6f91;
}

.contact-card form button {
  width: 100%;
  background: #ff6f91;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 15px;
  transition: background 0.3s ease;
}

.contact-card form button:hover {
  background: #ff3f6c;
}

/* Responsive */
@media (max-width: 768px) {
  .contact h1 {
    font-size: 28px;
  }

  .contact-card {
    width: 100%;
  }
}
