* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
  background-color:beige;
}

.about-hero {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 70px 0;
}

.about-content {
  display: flex;
  align-items: center;
  gap: 50px;
}

.about-image img {
  width: 500px;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
}

.about-text {
  max-width: 600px;
}

.about-text h1 {
  font-size: 42px;
  margin-bottom: 20px;
  color: #222;
}

.about-text p {
  font-size: 18px;
  color: #555;
  line-height: 1.7;
  margin-bottom: 18px;
}

.social-icons {
  margin-top: 20px;
}

.social-icons a img {
  width: 28px;
  margin-right: 15px;
}

/* Mobile */
@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
    text-align: center;
  }

  .about-image img {
    width: 90%;
  }
}
